{{#if check}}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{{img}}" class="card-img" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{u.name}}</h4>
        <p class="card-text">{{u.email}}</p>
        <p class="card-text">{{commentTimes}}已評論餐廳</p>
        <a class="btn btn-primary stretched-link" href="/restaurants">回餐廳首頁</a>
        {{!-- user introduction <p class="card-text"></p> --}}
        {{!-- user update <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --}}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <h5 class="card-header">{{commentTimes}}已評論餐廳</h5>
  <div class="card-body">
    <div class="row">
      {{#each u.Comments}}
      <div class="col-md-1">
        <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}" class="card-img" alt=""></a>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{else}}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="{{img}}" class="card-img" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{user.name}}</h4>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text">{{commentTimes}}已評論餐廳</p>
        {{!-- user introduction <p class="card-text"></p> --}}
        {{!-- user update <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> --}}
        <a class="btn btn-primary stretched-link" href="/users/{{user.id}}/edit">Edit profile</a>
        <a class="btn btn-primary stretched-link" href="/restaurants">回餐廳首頁</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <h5 class="card-header">{{commentTimes}}已評論餐廳</h5>
  <div class="card-body">
    <div class="row">
      {{#each user.Comments}}
      <div class="col-md-1">
        <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}" class="card-img" alt=""></a>
      </div>
      {{/each}}
    </div>
  </div>
</div>

{{/if}}